{{#section 'css'}}
<link rel="stylesheet" href="/css/courses.css">
{{/section}}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="filter-area">
                <form action="#" class="filter-form">
                    <h5>Sort by</h5>
                    <h5>Rating</h5>
                    <input class="form-check-input" type="radio" name="TopRating" id="sortRatingTop">
                    <label class="form-check-label" for="sortRating">
                        Top Rating
                    </label>
                    <h5>Date</h5>
                     <input class="form-check-input" type="radio" name="sortDate" id="sortDateNew">
                    <label class="form-check-label" for="sortDateNew">
                        Newest to Oldest
                    </label>
                    <input class="form-check-input" type="radio" name="sortDate" id="sortDateOld">
                    <label class="form-check-label" for="sortDateOld">
                       Oldest to Newest
                    </label>
                     <h5>Price</h5>
                     <input class="form-check-input" type="radio" name="sortPrice" id="sortPriceExpensive">
                    <label class="form-check-label" for="sortPriceExpensive">
                        Most Expensive
                    </label>
                    <input class="form-check-input" type="radio" name="sortPrice" id="sortPriceCheap">
                    <label class="form-check-label" for="sortPriceCheap">
                      Cheapest
                    </label>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-9">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero saepe temporibus, doloremque hic
            consequatur aspernatur dolores eveniet atque earum delectus voluptatibus repellendus repellat aliquam omnis
            veritatis aperiam accusamus itaque iste. Quo earum numquam magnam consequatur voluptates fugit nulla ullam
            eveniet modi? Non facere incidunt fuga nam doloribus saepe sequi ullam id sit deserunt commodi, cupiditate
            modi sapiente dicta officia voluptate voluptas aliquam eligendi fugiat ducimus. Libero expedita aliquam
            labore quia, ad quam eos sapiente eum natus consequatur non inventore, voluptatum quos sint facere eveniet
            error voluptatibus. Error molestias officiis, iusto corporis quia, quis ab, ea asperiores velit similique
            sit cupiditate doloribus ut id sed sunt dolores! Eos ex ea consectetur quia. Voluptatem, nemo? Nobis, quos.
            Recusandae culpa quia distinctio incidunt cumque tempore expedita porro eveniet ipsum accusantium ullam
            quaerat asperiores, temporibus ducimus eligendi saepe facere magni nobis iste ipsam blanditiis voluptatem.
            Quos aspernatur rem expedita molestias suscipit aliquam facere hic laboriosam, veniam atque animi
            accusantium quis fugiat autem deleniti ab dolores itaque cum esse? Eveniet maxime ipsum reprehenderit! Sunt
            cupiditate maiores maxime illo doloribus omnis quam accusantium sit mollitia aliquid iure ipsum ipsa, veniam
            optio vero assumenda autem? Nam, ad in? Modi magni, magnam error at sapiente placeat reprehenderit unde
            fugiat dicta illo, neque ex, repellendus amet architecto consequuntur repellat iusto? Sint consequatur
            voluptas enim incidunt, aperiam labore dolores quaerat voluptatibus! Necessitatibus nesciunt a doloremque?
            Ipsam, cum, rerum numquam nemo velit ratione maxime eius aut sit magni expedita dolorem voluptatem ex id
            dolores eos dolore similique, beatae laudantium cumque laboriosam officiis. Repellendus optio, nostrum autem
            quod vitae neque debitis, est quasi, hic eaque quidem odit animi beatae numquam voluptatum! Quasi dolore
            porro quae tempora officiis reiciendis, in nemo non esse assumenda beatae nostrum cumque, ducimus ullam
            alias. Qui fuga officia nisi laudantium saepe blanditiis sed soluta, mollitia sunt itaque ab iusto
            distinctio inventore asperiores dignissimos. Harum facere sequi consequatur repellat mollitia explicabo
            aliquam, odio praesentium nulla esse expedita autem nam voluptate rem quos dignissimos? Doloremque debitis
            nisi quae consequatur iusto perferendis ratione incidunt ex facilis? Laboriosam est illum iure sunt. Ex,
            ullam officia debitis illo perspiciatis eaque, laborum dicta quam ipsum aperiam labore unde earum similique
            iure, ipsam eius sint tempore. Mollitia consectetur maiores reprehenderit molestiae praesentium, eaque neque
            odio cumque perspiciatis molestias voluptate nostrum atque quae doloribus! Aliquam adipisci hic distinctio
            magni aperiam optio maiores illum culpa ullam delectus et, accusantium eveniet. Tenetur aliquid sunt unde
            magnam atque, dicta eligendi earum fuga debitis modi odio voluptate quod natus aperiam laborum vero veniam
            consequatur doloribus, deserunt a cupiditate. Ipsum corporis voluptatem modi odit iure veritatis laborum
            voluptas culpa aperiam laboriosam beatae error cupiditate nostrum labore illum quis, vitae quaerat fugit?
            Nulla, ducimus vitae asperiores quisquam maiores ad iure repudiandae, sit totam laudantium hic similique
            reprehenderit fugiat fuga debitis doloremque a ea omnis nam enim quidem. Numquam placeat explicabo eveniet
            laudantium nulla a, aspernatur eius tempora nostrum delectus debitis quia voluptas. Vel doloremque
            exercitationem incidunt? Nostrum voluptate quos dolorem officiis, ut ratione recusandae, aliquid architecto
            ipsa sint minus, modi quod illum.
        </div>
    </div>
</div>

{{#section 'js'}}
<script src="/javascript/courses.js"></script>
{{/section}}