{{#section 'css'}}
<link rel="stylesheet" href="/css/course/createLesson.css">
{{/section}}

<form method="post" action="/courses/chapters/lessons/create" id="lessonForm" enctype="multipart/form-data">
    <div class="d-flex justify-content-center">
        <h1 class="text-primary courseChapterTitle">{{session.createCourse.name}} - {{this.chapterTitle}}</h1>
    </div>
    
    <div class="lesson-header-wrapper">
        <input autocomplete="off" id="lessonTitle" name="lessonTitle" type="text" class="form-control"
            placeholder="Please fill in lesson title" />
        <p id="lessonNameInputError" class="d-none text-danger">Please fill in this field !</p>
    </div>

    <div class="richTextWrapper">
        <h1 class="courseDetailTitle">Lesson Description</h1>
        <textarea name="lessonDescription" id="lessonDescription"></textarea>
        <p id="lessonDescriptionError" class="d-none text-danger">Please fill in lesson description !</p>
    </div>

    <div class="richTextWrapper">
        <h1 class="courseDetailTitle">Lesson Video</h1>
        <input class="uploadLessonVideo" id="uploadLessonVideo" name="uploadLessonVideo" type="file"
            accept="video/mp4" />
        <button id="addVideoToLessonBtn" type="button" class="btn btn-info addVideoToLessonBtn">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Upload lesson video
        </button>

        <div id="videoWrapper"></div>
        <p id="lessonVideoError" class="d-none text-danger">Please choose a video for this lesson !</p>
    </div>

    <div class="d-flex justify-content-between">
        <a id="backBtn" href="/courses/chapters/create" class="btn btn-secondary btn-lg">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            Go to another chapter
        </a>

        <button type="submit" class="btn btn-success btn-lg">
            <i class="fa fa-book" aria-hidden="true"></i> Create lesson
        </button>
    </div>
</form>

{{#section 'js'}}
<script src="/javascript/course/createLesson.js"></script>
{{/section}}