<div class="footer">
    <div class="row px-3 pt-3">
        <div class="col-6 col-md-3 mb-3">
            <img src="/images/fit.png" alt="logo hcmus">
        </div>
        <div class="col-6 col-md-3 mb-3">
            <ul class="list-unstyled">
                <li><strong>Course</strong></li>
                <li>Phát triển ứng dụng web</li>
                <li>CSC13008_20KTPM3</li>
            </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <ul class="list-unstyled">
                <li><strong>Lecturers</strong></li>
                <li>Mr.Ngô Ngọc Đăng Khoa</li>
                <li>Mr.Trần Văn Quý</li>
            </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <ul class="list-unstyled">
                <li><strong>Team members</strong></li>
                <li>20127545 - Trần Anh Kiệt</li>
                <li>20127078 - Nguyễn Lê Hoàng Thông</li>
                <li>19127396 - Phan Thiên Vinh Hiển</li>
                <li>20127107 - Lê Quốc Kỳ Anh</li>
            </ul>
        </div>
    </div>
</div>