<header id="header" class="header-area">
    <div class="header-top">
        <div class="container inner-header-top">
            <div class="header-search">
                <button type="button" class="search-toggler"><i class="fa fa-search"></i></button>
            </div>
            <div class="header-links">
                <ul>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search-area">
        <form class="container" action="#" method="post">
            <div class="search-close">
                <img src="../images/close.png" alt="close">
            </div>
            <input type="text" placeholder="Search here..." />
            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>