<div class="dashboard_main_content" style="padding: 32px; padding-top: 64px;">
    <div class="container-fluid">
        <div class="main_content_container" style="padding-top: 60px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="dashboard_navigationbar dn db-1199">
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i>
                                        Dashboard Navigation</button>
                                    <ul id="myDropdown" class="dropdown-content">
                                        <li><a href="/user/profile"><span
                                                    class="flaticon-online-learning"></span> Profile</a></li>
                                        <li><a href="/user/courses"><span
                                                    class="flaticon-online-learning"></span> My Courses</a></li>
                                        <li><a href="/user/watchlist"><span
                                                    class="flaticon-online-learning"></span> Watchlist</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                                <h4 class="title float-left">My Watch List</h4>
                            </nav>
                        </div>
                        <div class="col-lg-12">
                            <div class="my_course_content_container">
                                <div class="my_course_content mb30" style="padding-top: 0">
                                    <div class="my_course_content_list">
                                        <!-- TEMPLATEME! -->
                                        {{#each watchlist}}
                                            <div class="mc_content_list">
                                                <div class="details">
                                                    <div class="mc_content">
                                                        <h5 class="title">{{name}}</h5>
                                                        <p>{{this.courseID.desc.short}}</p>
                                                    </div>
                                                    <div class="mc_footer">
                                                        <ul class="view_edit_delete_list float-right">
                                                            <li class="list-inline-item" style="display: none;"></li>
                                                            <li class="list-inline-item"><a
                                                                    href="/courses/course-detail/{{slug}}"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    title="Go to course">Go to</a>
                                                            <li class="list-inline-item"><a
                                                                    href="/user/watchlist/remove/{{id}}"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    title="Remove">Delete</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>